In [2]:
import numpy as np
raw = np.array([
    [0, 0, 1, 0, 0],
    [0, 1, 0, 0, 0],
    [0, 0, 1, 1, 1],
    [1, 0, 0, 1, 1],
    [0, 1, 1, 0, 0],
    [1, 1, 0, 0, 0],
    [0, 1, 0, 1, 0],
])

raw

array([[0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 1, 1],
       [1, 0, 0, 1, 1],
       [0, 1, 1, 0, 0],
       [1, 1, 0, 0, 0],
       [0, 1, 0, 1, 0]])

In [3]:
import pandas as pd
data = pd.DataFrame(
    raw,
    columns = [
        'x1',
        'x2',
        'x3',
        'x4',
        'y'
    ]
)

data

   x1  x2  x3  x4  y
0   0   0   1   0  0
1   0   1   0   0  0
2   0   0   1   1  1
3   1   0   0   1  1
4   0   1   1   0  0
5   1   1   0   0  0
6   0   1   0   1  0

In [4]:
def entropy(target):
    '''Finds the entropy within a target variable. Takes in a 1D Numpy array and returns the entropy of that Series'''
    
    # Get the individual classes and counts for every unique element of the target
    classes, counts = np.unique(target, return_counts=True)
    
    # Calculate the probability of each class by dividing all the counts by the length
    # of the vector
    probs = counts / len(target)
    
    # Zip the classes and probabilities into a dictionary
    class_probs = dict(zip(classes, probs))
    
    # Start an accumulation loop for the entropy
    ent = 0
    for c, p in class_probs.items():
        ent += p * np.log2(p)
        
    # Flip the sign and return
    return -1 * ent

In [5]:
entropy(data.y)

0.863120568566631

In [6]:
def gains(S, entropy_func):
    '''Determine the gain of each column in the dataset S. Assumes the last column is the target.'''
    
    # Define target as last column
    target = S[S.columns[-1]]
    
    # Define the features as all columns except the last one
    features = S[S.columns[0:-1]]
    
    # Find the entropy_func of the target, for calculating information gain later
    targ_ent = entropy_func(target)
   
    # Start an empty dict to store gains for every column
    col_gains = {}
    
    # Calculating individual column gains
    for column in features:
        
        # Find # of unique elements in column
        unique_elements = np.unique(S[column])
        
        # Start column gain as target entropy_func, since we'll be subtracting subset entropies from this
        col_gain = targ_ent 
        
        # Cycle over set of all unique elements
        for e in unique_elements:
            
            # Create a data subset of only entries where the target column == the unique element
            sub_S = S[S[column] == e]
            
            # Determine the probability of getting an entry in this subset
            prob = len(sub_S) / len(S)
            
            # Determine the entropy_func of the target column of the new subset
            sub_ent = entropy_func(sub_S[sub_S.columns[-1]])
            
            # Subtract this subset's entropy_func from the full set entropy_func
            col_gain -= prob * sub_ent
            
        # Store the column gain in the dictionary
        col_gains[column] = col_gain
            
    
    return col_gains

In [7]:
gains(data, entropy)

{'x1': 0.061743357932800724,
 'x2': 0.46956521111470695,
 'x3': 0.0059777114237739015,
 'x4': 0.46956521111470695}

In [8]:
def calc_node(S, entropy_func):
    
    # Start by finding the information gain of all columns.
    gains_S = gains(S, entropy_func)
    
    # Find the maximum information gain - doing a loop is pretty shitty
    # but I couldn't remember the quickest way to find the maximum value of
    # a dictionary (:
    curr_max = 0
    max_key = None
    for key, val in gains_S.items():
        if val > curr_max:
            curr_max = val
            max_key = key
            
    elements = S[max_key].unique()
            
    # Create a subset for each unique value of the maximum gain column
    subsets = [S[S[max_key] == e] for e in elements]
    
    # Drop the maximum column from all of the subsets so we don't try to
    # re-use it in the future.
    subsets = [s.drop([max_key], axis=1) for s in subsets]
               
    subset_dict = {}
    for i, e in enumerate(elements):
        subset_dict[e] = subsets[i]
    
    return subset_dict

In [9]:
print(gains(data, entropy))
subset_1 = calc_node(data, entropy)
print(subset_1)
left = subset_1[0]
right = subset_1[1]
print(left)
print(right)

{'x1': 0.061743357932800724, 'x2': 0.46956521111470695, 'x3': 0.0059777114237739015, 'x4': 0.46956521111470695}
{0:    x1  x3  x4  y
0   0   1   0  0
2   0   1   1  1
3   1   0   1  1, 1:    x1  x3  x4  y
1   0   0   0  0
4   0   1   0  0
5   1   0   0  0
6   0   0   1  0}
   x1  x3  x4  y
0   0   1   0  0
2   0   1   1  1
3   1   0   1  1
   x1  x3  x4  y
1   0   0   0  0
4   0   1   0  0
5   1   0   0  0
6   0   0   1  0

In [10]:
print(gains(left, entropy))
subset_2 = calc_node(left, entropy)
left_2 = subset_2[0]
right_2 = subset_2[1]
print(left_2)
print(right_2)

{'x1': 0.2516291673878229, 'x3': 0.2516291673878229, 'x4': 0.9182958340544896}
   x1  x3  y
0   0   1  0
   x1  x3  y
2   0   1  1
3   1   0  1

In [11]:
raw = np.array([
    ["S", "H", "H", "W", 0],
    ["S", "H", "H", "S", 0],
    ["O", "H", "H", "W", 1],
    ["R", "M", "H", "W", 1],
    ["R", "C", "N", "W", 1],
    ["R", "C", "N", "S", 0],
    ["O", "C", "N", "S", 1],
    ["S", "M", "H", "W", 0],
    ["S", "C", "N", "W", 1],
    ["R", "M", "N", "W", 1],
    ["S", "M", "N", "S", 1],
    ["O", "M", "H", "S", 1],
    ["O", "H", "N", "W", 1],
    ["R", "M", "H", "S", 0],
])

tennis = pd.DataFrame(
    raw,
    columns = [
        "O",
        "T",
        "H",
        "W",
        "y"
    ]
)

tennis

    O  T  H  W  y
0   S  H  H  W  0
1   S  H  H  S  0
2   O  H  H  W  1
3   R  M  H  W  1
4   R  C  N  W  1
5   R  C  N  S  0
6   O  C  N  S  1
7   S  M  H  W  0
8   S  C  N  W  1
9   R  M  N  W  1
10  S  M  N  S  1
11  O  M  H  S  1
12  O  H  N  W  1
13  R  M  H  S  0

In [14]:
def maj_err(target):
    elements, counts = np.unique(target, return_counts=True)
    return 1 - (counts.max() / len(target))
    
print(maj_err(tennis.y))
print(
    maj_err(np.array([
        0, 0, 0, 1, 1, 1, 2, 2, 2, 2
    ]))
)

0.3571428571428571
0.6

In [15]:
print(tennis.O.unique())
print(gains(tennis, maj_err))
node_1 = calc_node(tennis, maj_err)
node_1

['S' 'O' 'R']
{'O': 0.07142857142857134, 'T': -2.7755575615628914e-17, 'H': 0.07142857142857134, 'W': -2.7755575615628914e-17}

{'S':     T  H  W  y
 0   H  H  W  0
 1   H  H  S  0
 7   M  H  W  0
 8   C  N  W  1
 10  M  N  S  1,
 'O':     T  H  W  y
 2   H  H  W  1
 6   C  N  S  1
 11  M  H  S  1
 12  H  N  W  1,
 'R':     T  H  W  y
 3   M  H  W  1
 4   C  N  W  1
 5   C  N  S  0
 9   M  N  W  1
 13  M  H  S  0}

In [16]:
print(gains(node_1["S"], maj_err))
node_2 = calc_node(node_1["S"], maj_err)
node_2

{'T': 0.2, 'H': 0.4, 'W': 0.0}

{'H':    T  W  y
 0  H  W  0
 1  H  S  0
 7  M  W  0,
 'N':     T  W  y
 8   C  W  1
 10  M  S  1}

In [17]:
print(gains(node_1["R"], maj_err))
node_3 = calc_node(node_1["R"], maj_err)
node_3

{'T': 0.0, 'H': 0.0, 'W': 0.4}

{'W':    T  H  y
 3  M  H  1
 4  C  N  1
 9  M  N  1,
 'S':     T  H  y
 5   C  N  0
 13  M  H  0}

In [18]:
def gini(target):

    elements, counts = np.unique(target, return_counts=True)
    return 1 - sum([(count / len(target))**2 for count in counts])

In [19]:
tennis

    O  T  H  W  y
0   S  H  H  W  0
1   S  H  H  S  0
2   O  H  H  W  1
3   R  M  H  W  1
4   R  C  N  W  1
5   R  C  N  S  0
6   O  C  N  S  1
7   S  M  H  W  0
8   S  C  N  W  1
9   R  M  N  W  1
10  S  M  N  S  1
11  O  M  H  S  1
12  O  H  N  W  1
13  R  M  H  S  0

In [34]:
new_obs = {
    "O": tennis["O"].mode()[0],
    "T": "M",
    "H": "N",
    "W": "W",
    "y": "1"
}

tennis_app = tennis.append(new_obs, ignore_index=True)
gains(tennis_app, entropy)

    O  T  H  W  y
0   S  H  H  W  0
1   S  H  H  S  0
2   O  H  H  W  1
3   R  M  H  W  1
4   R  C  N  W  1
5   R  C  N  S  0
6   O  C  N  S  1
7   S  M  H  W  0
8   S  C  N  W  1
9   R  M  N  W  1
10  S  M  N  S  1
11  O  M  H  S  1
12  O  H  N  W  1
13  R  M  H  S  0
14  R  M  N  W  1

In [42]:
print(gains(tennis, gini))
nodes = calc_node(tennis, gini)
nodes

{'O': 0.11632653061224485, 'T': 0.018707482993197244, 'H': 0.09183673469387743, 'W': 0.030612244897959162}

{'S':     T  H  W  y
 0   H  H  W  0
 1   H  H  S  0
 7   M  H  W  0
 8   C  N  W  1
 10  M  N  S  1,
 'O':     T  H  W  y
 2   H  H  W  1
 6   C  N  S  1
 11  M  H  S  1
 12  H  N  W  1,
 'R':     T  H  W  y
 3   M  H  W  1
 4   C  N  W  1
 5   C  N  S  0
 9   M  N  W  1
 13  M  H  S  0}

In [44]:
print(gains(nodes["R"], gini))
nodes_1 = calc_node(nodes["R"], gini)
nodes_1

{'T': 0.013333333333333308, 'H': 0.013333333333333308, 'W': 0.48}

{'W':    T  H  y
 3  M  H  1
 4  C  N  1
 9  M  N  1,
 'S':     T  H  y
 5   C  N  0
 13  M  H  0}